* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: grid;
    justify-content: center;
}

.add-book-button {
    display: grid;
    justify-content: center;
}

.add-book-button button {
    border: 5px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    justify-content: center;
    padding: 20px 10px;
}

.book-display-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.book-entry-div {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    min-width: 25%;
}

.book-entry-div .remove {
    margin-top: 10px;
    margin-left: auto;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.pop-up-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    width: 500px;
    max-width: 80%;
    border-radius: 10px;
}

.pop-up-form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    border-width: 100%;
}

.form-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}   

.form {
    padding: 10px;
}

.form label {
    padding: 10px;
}

.pop-up-form .form .form-element {
    font-size: 14px;
}

.pop-up-form .form .form-element label, .pop-up-form .form .form-element label {
    font-weight: 600;
    padding: 0;
    margin-top: 5px;
}

.pop-up-form .form .form-element input[type="text"], .pop-up-form .form .form-element input[type="number"] {
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pop-up-form .form .form-element select {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pop-up-form .form .submit button {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}